/bin/background.exe
/bin/report_server.exe
/bin/sinker.exe
/logs/
/task/
/vue/node_modules/
....
/bin/
/.idea/
/views/dist/static/
/views/dist/favicon.ico
/views/dist/index.html
/bin/linux/
/bin/win/
/.idea/
/bin/linux/
/bin/win/
/views/dist/
